@use '../abstracts' as *;

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    line-height: 1.4;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 70%, rgba(0, 41, 255, 0.27) 100%);
}

