@use '../abstracts' as *;

h1, h1 {
    font-family: $font-bodoni;
    font-size: 3.5rem;
    line-height: 0.7;
    font-weight: 700;
    color: $color-primary-blue;

    @include mq(xsmall) {
        font-size: 4.5rem;
    }

    @include mq(small) {
        font-size: 6rem;
    }

    @include mq(large) {
        font-size: 8rem;
    }

}

h2, h2 {
    font-family: $font-roboto;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    line-height: 0.9;
    text-align: right;

    @include mq(xsmall) {
        font-size: 3.5rem;
    }

    @include mq(small) {
        font-size: 5rem;
    }


}

h3, .h3 {
    font-family: $font-bodoni;
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1;

    @include mq(medium) {
        font-size: 2.5rem;
    }
}

h4, h4 {
    font-family: $font-bodoni;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;

    @include mq(xsmall) {
        font-size: 2rem;
    }

    @include mq(medium) {
        font-size: 2.3rem;
    }
}

p, .p {
    font-family: $font-roboto;
    font-size: 1rem;
}

span {
    font-family: $font-roboto;
}

