@use '../abstracts' as *;

h1, h1 {
    font-family: $font-bodoni;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 700;
    color: $color-primary-blue;

    @include mq(large) {
        font-size: 8rem;
        line-height: 0.7;
 
    }

}

h3, .h3 {
    font-family: $font-bodoni;
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
}

p, .p {
    font-family: $font-roboto;
    font-size: 1rem;
}

span {
    font-family: $font-roboto;
}

