@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&family=Roboto:wght@300;400;500&display=swap');

$font-roboto: 'Roboto', sans-serif;
$font-bodoni: 'Bodoni Moda', serif;

$color-primary-blue: #3247FC;
$color-primary-light: #fff9f3;