@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 3.5rem;
  line-height: 0.7;
  font-weight: 700;
  color: #3247FC;
}
@media screen and (min-width: 376px) {
  h1, h1 {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 576px) {
  h1, h1 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1240px) {
  h1, h1 {
    font-size: 8rem;
  }
}

h2, h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.9;
  text-align: right;
}
@media screen and (min-width: 376px) {
  h2, h2 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 576px) {
  h2, h2 {
    font-size: 5rem;
  }
}

h3, .h3 {
  font-family: "Bodoni Moda", serif;
  color: #fff9f3;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  h3, .h3 {
    font-size: 2.5rem;
  }
}

h4, h4 {
  font-family: "Bodoni Moda", serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
@media screen and (min-width: 376px) {
  h4, h4 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  h4, h4 {
    font-size: 2.3rem;
  }
}

p, .p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

span {
  font-family: "Roboto", sans-serif;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.4;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 70%, rgba(0, 41, 255, 0.27) 100%);
  transition: all ease 300ms;
}

.wrapper {
  padding: 3rem 1rem;
  max-width: 90rem;
}
@media screen and (min-width: 1240px) {
  .wrapper {
    padding: 3rem 0 0 3rem;
  }
}

.search__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: #fff9f3;
  background: #3247FC;
  min-height: 26rem;
  height: 100%;
  margin: 0 auto;
}

.search__form {
  grid-column: 2/span 10;
  margin: 3.6rem auto;
  border-bottom: 2px solid #fff9f3;
  height: 3rem;
}
@media screen and (min-width: 376px) {
  .search__form {
    margin: 5.5rem auto;
  }
}
@media screen and (min-width: 1240px) {
  .search__form {
    grid-column: 2/span 4;
    align-self: center;
  }
}

.search__input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input svg {
  fill: #fff9f3;
  display: block;
}
.search__input input {
  border: none;
  outline: none;
  background: transparent;
  color: #fff9f3;
  font-size: 1.2rem;
  width: 100%;
  padding: 0 1rem;
}
.search__input input::placeholder {
  color: #fff9f3;
  font-weight: 300;
  text-align: center;
}
@media screen and (min-width: 376px) {
  .search__input input {
    font-size: 1.4rem;
    padding: 0 2rem 0.3rem;
  }
}
@media screen and (min-width: 576px) {
  .search__input input {
    font-size: 2.5rem;
  }
}
.search__input button {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 1rem;
}

.introduction {
  grid-column: 1/span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media screen and (min-width: 1240px) {
  .introduction {
    grid-column: 7/span 7;
    align-self: center;
  }
}
.introduction h2 {
  grid-column: 1/span 12;
}
.introduction span {
  display: block;
  text-align: right;
}

.result {
  grid-column: 2/span 10;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  display: none;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .result {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 1240px) {
  .result {
    grid-column: 7/span 5;
    align-self: center;
    margin-bottom: unset;
  }
}
.result__word {
  display: flex;
  align-items: end;
  justify-content: start;
  flex-wrap: wrap;
  grid-column: 1/span 12;
  border-bottom: 1px solid #fff9f3;
}
.result__word p {
  padding-left: 0.5rem;
  font-weight: 200;
}
.result__definition {
  padding: 2rem 0;
  font-weight: 400;
  grid-column: 1/span 12;
}
@media screen and (min-width: 1240px) {
  .result__definition p {
    font-size: 1.2rem;
  }
}
.result__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #3247FC;
  color: #3247FC;
  background: #fff9f3;
  border-radius: 4rem;
  padding: 0.5rem;
  width: 9rem;
}
.result__btn svg {
  margin-right: 0.5rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.list__filter {
  grid-column: 2/span 10;
  display: flex;
  align-items: end;
  justify-content: start;
  margin: 2rem 0;
}
@media screen and (min-width: 1240px) {
  .list__filter {
    grid-column: 1/span 4;
  }
}
.list__filter p {
  color: #848484;
  margin-right: 0.5rem;
}
.list__filter input {
  border: none;
  border-bottom: 1px solid #848484;
  width: 90%;
  outline: none;
  font-size: 1.2rem;
  background: transparent;
}
@media screen and (min-width: 376px) {
  .list__filter input {
    font-size: 1.4rem;
  }
}
.list__items {
  grid-column: 1/span 12;
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: column;
}
@media screen and (min-width: 1240px) {
  .list__items {
    flex-direction: unset;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}
.list__items li {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  padding: 2.5rem 0 1rem;
  border-bottom: 1px solid #848484;
  width: 100%;
}
@media screen and (min-width: 1240px) {
  .list__items li {
    flex-basis: 47%;
    margin-right: 2rem;
  }
}
.list__items li p {
  grid-column: 1/span 12;
}
@media screen and (min-width: 768px) {
  .list__items li p {
    grid-column: 5/span 7;
    align-self: center;
  }
}
.list__items li button {
  position: absolute;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  top: 1.5rem;
  right: 0.5rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 21' fill='none'%3E%3Cg clip-path='url(%23clip0_14_76)'%3E%3Cpath d='M14.8125 9.75H6.1875C6.08438 9.75 6 9.83438 6 9.9375V11.0625C6 11.1656 6.08438 11.25 6.1875 11.25H14.8125C14.9156 11.25 15 11.1656 15 11.0625V9.9375C15 9.83438 14.9156 9.75 14.8125 9.75Z' fill='%23848484'/%3E%3Cpath d='M10.5 0C4.70156 0 0 4.70156 0 10.5C0 16.2984 4.70156 21 10.5 21C16.2984 21 21 16.2984 21 10.5C21 4.70156 16.2984 0 10.5 0ZM10.5 19.2188C5.68594 19.2188 1.78125 15.3141 1.78125 10.5C1.78125 5.68594 5.68594 1.78125 10.5 1.78125C15.3141 1.78125 19.2188 5.68594 19.2188 10.5C19.2188 15.3141 15.3141 19.2188 10.5 19.2188Z' fill='%23848484'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14_76'%3E%3Crect width='21' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  border: none;
}
@media screen and (min-width: 768px) {
  .list__items li button {
    top: 1rem;
    right: 1rem;
  }
}
.list__word {
  grid-column: 1/span 12;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .list__word {
    grid-column: 1/span 4;
    margin-bottom: unset;
    justify-self: center;
    align-self: center;
  }
}
