@use '../abstracts/' as *;

.result {
    @include gridCol(2, 10);
    @include grid;
    display: none;
    margin-bottom: 2rem;

    @include mq(medium) {
        padding: 2rem 0;
    }

    @include mq(large) {
        @include gridCol(7, 5);
        align-self: center;
        margin-bottom: unset;
    }

    &__word {
        @include flex(end, start);
        flex-wrap: wrap;
        @include gridCol(1, 12);
        border-bottom: 1px solid $color-primary-light;

        p {
            padding-left: 0.5rem;
            font-weight: 200;
        }
    }
    
    &__definition {
        padding: 2rem 0;
        font-weight: 400;
        @include gridCol(1, 12);
    
        p {

            @include mq(large) {
                font-size: 1.2rem;
            }
        }
    
    }
    
    &__btn {
        @include flex(center,center);
        cursor: pointer;
        fill: $color-primary-blue;
        color: $color-primary-blue;
        background: $color-primary-light;
        border-radius: 4rem;
        padding: 0.5rem;
        width: 9rem;
    
        svg {
            margin-right: 0.5rem;
        }
    }
}

