@use '../abstracts/' as *;

.search__container {
    @include grid;
    color: $color-primary-light;
    background: $color-primary-blue;
    min-height: 26rem;
    height: 100%;
    margin: 0 auto;
}

.search__form {
    @include gridCol(2, 10);
    margin: 3.6rem auto;
    border-bottom: 2px solid $color-primary-light;

    @include mq(xsmall) {
        margin: 5.5rem auto;
    }

    @include mq(large) {
        @include gridCol(2, 4);
        align-self: center;
    }
}

.search__input {
    @include flex(center, center);

    svg {
        fill: $color-primary-light;
        display: block;

    }

    input {
        border: none;
        outline: none;
        background: transparent;
        color: $color-primary-light;
        font-size: 1.2rem;   
        width: 100%;
        padding: 0 1rem;

        &::placeholder {
            color: $color-primary-light;
            font-weight: 300;
            text-align: center;
        }

        @include mq(xsmall) {
            font-size: 1.4rem;
            padding: 0 2rem 0.3rem;
        }

        @include mq(small) {
            font-size: 2.5rem;

        }
    
    }

    button {
        background: transparent;
        border: none;
        padding: 1rem;
    }
}

.introduction {
    @include gridCol(1, 12);
    @include grid;
    display: none;

    @include mq(large) {
        @include gridCol(7, 7);
        align-self: center;
    }

    h2 {
        @include gridCol(1, 12);
    }

    span {
        display: block;
        text-align: right;
    }
}